@model IPagedList<backend.Models.Item>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>Index</h2>

<div class="Paging">
    <p>
        @Html.ActionLink("Create New", "Create")
        @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form-inline form-search pull-right" }))
        {
            @Html.TextBox("Keyword", (string)ViewBag.Keyword)
            @Html.Hidden("Page", 1)
            @Html.Hidden("Count", 20)
            <input type="submit" name="name" value="查詢" class="" />
        }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ListPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UnitCost)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Product.CategoryId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src='http://localhost:2327@(item.Image.Replace("~", ""))' alt="" width="100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ListPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.CategoryId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
                </td>
            </tr>
        }

    </table>

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>